/*
orange = #FF9933
dark blue = #003399
light blue = #99CCCC
light gray = #CCCCCC
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/
main{
  background-color: #CCCCCC;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
header{
  width: 100vw;
  height: 8vh;
  text-align: center;
  background-color: #CCCCCC;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
i{
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
h1{
  padding-top: 10px;
  font-size: 100px;
  font-family: "Lobster", cursive;
  color: #FF9933;
}
.pop-out-menu{
  height: 500px;
  width: 400px;
  background-color: #99CCCC;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #003399;
  position: absolute;
  top: 55px;
  left: 45px;
  z-index: 5;
}
.top-row{
  width: 100%;
  height: 10%;
  float: right;
  color: #003399;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 10px;
}
#close{
  cursor: pointer;
}
.option{
  width: 80%;
  height: 80%;
  background-color:#003399;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.option-btn{
  width: 75%;
  padding: 30px;
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  background-color: #CCCCCC;
  color: #FF9933;
  border: 5px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.option-btn:hover{
  color: black;
}
@media only screen and (max-width: 600px){
  .pop-out-menu{
    height: 60vh;
    width: 30vw;
  }
}
